<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Match</title>
  </head>
  <body>
    <!--홈팀 -->
    <p><%= homeTeam %> VS <%= awayTeam %></p>
    <!-- 원정팀 -->
    <!-- DB에서 값 가져옴-->
    <form action="./matchAF" method="post">
      <input type="submit" name="wh" value="WIN(home)" onclick="home()" />
      <!-- 홈팀 승리 -->
      <input type="submit" name="d" value="Draw" onclick="draw()" />
      <!-- 무승부 -->
      <input
        type="submit"
        name="wa"
        value="WIN(AWAY)"
        onclick="away()"
      /><!-- 원정팀 승리 -->
    </form>
    <script>
      function home() {
        alert("homeTeam will win");
      }
      function away() {
        alert("awayTeam will win");
      }
      function draw() {
        alert("they will draw");
      }
    </script>
  </body>
</html>
